{% extends "base.html" %}
{% block title %}Blog Page{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='blog/blog-page.css') }}">
{% endblock %}
{% block body %}
<h2>Blog Page</h2>
<!-- address secion -->
<div class="section">
  <!-- <select name="pincode" id="">Pincode</select> -->
  <!-- chosen library needed -->
  <select data-placeholder="Choose a name..." class="ch" name="institute">
    <option></option>
  
    {% for pin in data.all_pincode.pincode %}
    <option value="{{pin}}">{{pin}}</option>
    {% endfor %}
  <select name="Post Office" id="">Post Office</select>
  <label for="Village">Village</label>
  <input type="text" class="text" id="Village">
  <button type="submit">Edit</button>
  <button type="submit">Save</button>
</div>
<hr>
<!-- Tag Section   -->
<div class="section">
<label for="tags">tags</label>
<input type="text" class="text" id="tags">
</div>
<!-- Title Section -->
 <hr>
<div class="section">
    <label for="title">Title</label>
    <input type="text" class="text" id="title" value="{{data.blog_details.title}}">
    <button type="submit">Edit</button>
  <button type="submit">Save</button>
</div>
<hr>
<!-- Body Section -->
<div class="section">
    <label for="body">Body</label>
    <textarea class="text" id="body"></textarea>
</div>
<hr>
<!-- Body Section -->
<div class="row">

</div>
{% for pin in data.all_pincode.pincode %}
{{pin}}
{% endfor %}

{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='blog/blog-page.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js" integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
